

.normal {
    background-color: #a6a877;
}
.grass {
    background-color: #77c850;
}
.fire {
    background-color: #ee7f30;
}
.water {
    background-color: #678fee;
}
.electric {
    background-color: #f7cf2e;
}
.ice {
    background-color: #96d9d6;
}
.ground {
    background-color: #e2bf65;
}
.poison {
    background-color: #a33ea1;
}
.fighting {
    background-color: #c22e28;
}
.psychic {  
    background-color: #f95587;
}
.dark {
    background-color: #705746;
}
.rock {
    background-color: #b6a136;
}
.bug {
    background-color: #a6b91a;
}
.ghost {
    background-color: #735797;
}
.steel {
    background-color: #b7b7ce;
}
.dragon {
    background-color: #6f35fc;
}
.fairy {
    background-color: #d685ad;
}
.flying {
    background-color: #a98ff3;
}




